#subtitulo{
    color: aliceblue;
    font-size: 30px;
}
header{
    background-color: black;
}
body{
    background-color: rgb(0, 0, 0);
}
.links{
    text-decoration: none;
    font-size: 25px;
    color: rgb(238, 235, 231);
    padding: 15px;
    
}
#titulo{
    color: aliceblue;
    font-size: 70px;

}
#navbar{
    background-color: rgb(73, 71, 71);
}